.about {
  #top-banner .home-link,
  #top-banner .me-description {
    display: block;
  }

  #top-banner .about-link {
    display: none;
  }

  @include breakpoint($horizontal) {
    main {
      //padding: 0;
    }
  }
}

#about-page {

  @extend %main-padding;

  padding-top: $global-padding*2;
  padding-bottom: $global-padding*2;

  > * {
    //background-color: desaturate(darken($primary-color, 5%), 5%);
    background-color: $white;
    //color: $body-font-color;
    box-shadow:
      0 4px 4px rgba(0, 0, 0, .1),
      0 8px 8px rgba(0, 0, 0, .1),
      0 16px 16px rgba(0, 0, 0, .1);
  }

  // Children
  //display: flex;
  //flex-direction: column;
  //justify-content: center;

  .inner {
    padding: $global-padding;
  }

  #{$headers}, p {
    max-width: $paragraph-ideal;
    margin-left: auto;
    margin-right: auto;
  }

  .cheers {
    font-family: $font-family-serif;
    color: $aluminum;
    font-size: 1.7rem;
    font-weight: $font-weight-normal;
    font-style: italic;
    //line-height: rem-calc(100);
    text-align: right;

    img {
      margin-left: 3rem;
      vertical-align: top;
    }
  }

  .button:last-of-type {
    margin-right: 0;
  }

  @include breakpoint(large) {

    > * {
      padding-top: 3rem;
      padding-bottom: 1rem;
    }

  }

  @include breakpoint($horizontal) {
    padding-top: $horn-images-size + $global-padding*6;
    padding-left: 5rem;
    padding-right: 3rem;
    //margin-left: 2rem;
    //padding-left: 0;

    .first p {
      margin-bottom: 3rem;
      font-size: $h4-font-size;
    }
  }

}
