#about-page {

  background-color: $primary-color;
  margin-left: -$global-spacing;
  margin-right: -$global-spacing;

  // Children
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .inner {
    padding: $global-padding;
  }

  @include breakpoint(large) {
    min-height: 100vh;
  }

}