$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);


.home {

  #top-banner {
    .home-link {
      display: none;
    }
    .me-description,
    .about-link {
      display: block;
    }
  }

  @include breakpoint($horizontal) {
    main {
      //padding-left: 0;
      padding-right: 0;
    }
  }
}



.categories {
  text-transform: uppercase;
  list-style: none;
  margin: $global-padding 0 0;
  font-size: $small-font-size;

  > li {
    display: inline-block;

    &:not(:last-child) {
      margin-right: $global-padding;

      &::after {
        content: ", ";
      }
    }
  }
}


#home-page {
  @extend %main-padding;

  h1 {
    padding-top: 2rem;
    margin-bottom: $global-padding;
    margin-top: 0;
    line-height: 1em;
    font-weight: normal;
    font-size: $h4-font-size;
  }

  h1, > p {
    color: $white;
    text-align: left;

    a {
      color: $white;
      text-decoration: underline;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  @include breakpoint(medium) {
    h1, > p {
      padding-left: .5rem;
    }
  }

  @include breakpoint(large) {
    h1, > p {
      padding-left: 1rem;
    }
  }

  @include breakpoint($horizontal) {
    h1 {
      padding-top: $horn-images-size + $global-padding*6;
      font-size: $h1-font-size;
    }

    h1, > p {
      text-align: right;
      padding-right: 1rem;
    }
  }

  @include breakpoint(rem-calc(1400)) {
    h1, > p {
      padding-right: 2rem;
    }
  }
}

#recent-grid {
  margin: 0;

  > li {
    margin: 0;
    list-style: none;
    overflow: visible;
    padding-bottom: $global-padding;

    > a {
      height: 100%;
      display: block;
      background: $white;
      padding: $global-padding;
      color: $steel;

      transition: all .3s ease-out;
      opacity: 1;

      box-shadow:
        0 4px 4px rgba(0, 0, 0, .1),
        0 8px 8px rgba(0, 0, 0, .1);

      &:hover,
      &:focus {
        opacity: 1;
        box-shadow:
          0 4px 4px rgba(0, 0, 0, .1),
          0 8px 8px rgba(0, 0, 0, .1),
          0 16px 16px rgba(0, 0, 0, .1),
          0 32px 32px rgba(0, 0, 0, .15),
          0 64px 64px rgba(0, 0, 0, .15);
      }
    }

    h2, .subheader {
      color: inherit;
    }

    h2 {
      padding-top: 2rem;
      line-height: 1em;

      @include breakpoint(medium only) {
        font-size: $h2-font-size - $h2-font-reduction;
      }
    }
  }

  @include breakpoint(medium) {
    display: flex;
    flex-wrap: wrap;
    //justify-content: space-around;
    align-items: stretch;

    > li {
      width: 50%;
      padding: $global-padding/2;

      .text,
      .details {
        position: relative;
        z-index: 1;
        transition: transform .4s $cubic-bezier, opacity .3s $cubic-bezier;
      }

      .text {
        transition-delay: .1s;
      }

      .text {
        min-height: rem-calc(180);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }

      h2 {
        width: 100%;
      }

      a {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        position: relative;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          z-index: 0;

          background-size: cover;
          background-repeat: no-repeat;
          background-position: center top;

          opacity: 0;
          transition: opacity .6s $cubic-bezier, transform .6s $cubic-bezier;

          transform: scale(1.05);
          transform-origin: center;
        }


        &:hover,
        &:focus {
          &::before {
            opacity: 1;
            transition-delay: .1s;
            transform: scale(1);
          }

          .text,
          .details {
            transform: translateY(-500px);
            transition-duration: .6, .5;
            opacity: 0;
          }

          .text {
            transition-delay: .1s;
          }

          .details {
            transition-delay: .2s;
          }
        }

        // all the custom background images based on href

        &[href*="res-tools"]::before {
          background-image: url(/assets/img/res-tools/Final.jpg);
        }

        &[href*="spheric"]::before {
          background-image: url(/assets/img/spheric/banner.jpg);
        }

        &[href*="cinario"]::before {
          background-image: url(/assets/img/cinario/styleguide-1-large.jpg);
          background-size: auto 100%;
          background-position-x: left;
        }

        &[href*="the-road"]::before {
          background-image: url(/assets/img/road/TheRoad_header_poster.jpg);
        }

        &[href*="reinventing"]::before {
          background-image: url(/assets/img/rmb/poster.jpg);
          background-position-y: center;
        }

        &[href*="will"]::before {
          background-image: url(/assets/img/will/branding-mockups.jpg);
        }

        &[href*="weddings"]::before {
          background-image: url(/assets/img/weddings/Johnson_header.jpg);
        }


      }

      .categories {
        margin-top: $global-padding*2;
      }
    }
  }

  @include breakpoint(large) {
    > li {
      padding: $global-padding;

      a {
        padding: $global-padding*2;
      }
    }
  }

  @include breakpoint($horizontal) {
    > li {
      .text {
        min-height: rem-calc(200);
      }
    }
  }

  @include breakpoint(rem-calc(1400)) {
    > li  {
      //width: 33%;
    }
  }

}
