.home {

  #top-banner {
    .home-link {
      display: none;
    }
    .me-description,
    .about-link {
      display: block;
    }
  }

  main {
    background-color: $primary-color;
  }

}


#home-page {

  // Children
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  h1 {
    margin-bottom: $global-padding;
    margin-top: $global-padding*3;
    background-color: $primary-color;
    color: $white;
  }


  @include breakpoint($horizontal-breakpoint) {
    min-height: 100vh;
  }
}

#recent-grid {

  @include block-list-container();
  margin-bottom: 0;

  > li {
    @include block-list-item(
                $color: $white, // Color of items
                $color-hover: $white, // Color of items on hover
                $color-disabled: $white, // Color of items when disabled
                $background: transparent, // Background color
                $background-hover: rgba($white, .1), // Background color on hover
                $border: 1px solid rgba($white, .2), // Top and bottom border of items
                $padding: $global-padding*2 $global-padding );

    &:nth-child(odd) {
      //background-color: rgba($white, .2);
    }

    > a {
      display: flex;
      flex-direction: column;

      position: relative;
      overflow: hidden;
      .background {
        position: absolute;
        z-index: 1;
        width: 100%;
        left: 0;
        top: -90%;
        opacity: 0;
        transition: all .25s ease-in;
      }

      &:hover,
      &:focus {

        .background {
          top: -100%;
          opacity: .3;
        }

      }
    }
  }

  h2 {
    margin-top: 0;
    color: $white;
  }

  .subheader {
    color: rgba($white, .5);
  }

  .text,
  .details {
    position: relative;
    z-index: 2;
  }

  .text {
    flex: 1 1 auto;
  }

  .details {
    li {
      font-size: $small-font-size;
      text-transform: uppercase;

      display: inline-block;
      margin: $global-padding $global-padding 0 0;
    }
  }

  @include breakpoint(large) {
    > li > a {
      flex-direction: row;
    }

    .details {
      flex: 0 0 20%;
      padding-left: $global-padding;

      li {
        display: block;
        margin-top: $global-padding/2;
      }
    }
  }
}

@keyframes recent-background-anim() {
  0% {
    top: -90%;
    opacity: 0;
  }
  100% {
    top: -100%;
    opacity: .3;
  }
}