///
// VARIABLES
///

$homepage-triangle-size: rem-calc(22);
$home-design-bg-color: #EDEFF1;

///
// STYLES
///

#home-banner, #home-design, #home-photography {

	// Make sure we're at least the full height of the browser
	min-height: 50vh;

	// then use flexbox to center the contents
	display: flex;
	flex-direction: column;
	justify-content: center;

	padding-top: 2rem;
	padding-bottom: 2rem;

	@media #{$medium-up} {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}

}

@each $section in banner, design, photography {

	#home-#{$section} {

		background: url(../assets/img/home-#{$section}-bg.jpg) no-repeat center center;
		background-size: cover;

	}

}

#home-banner, #home-photography {
	h4, p {
		color: $white;
	}

	// add the triangles as square pseudo elements
	position: relative;
	overflow: hidden;
	&::after {
		content: "";
		display: block;
		position: absolute;
		left: 50%;
		// add a buffer incase the rotation is not perfect
		bottom: ($homepage-triangle-size/2 + .1rem) * -1;
		margin-left: $homepage-triangle-size/2 *-1;
		width: $homepage-triangle-size;
		height: $homepage-triangle-size;
		background: $body-bg;
		transform: rotate(40deg) skewX(-13deg);
		-webkit-transform: rotate(40deg) skewX(-13deg);

		// increase size for large screens
		@media #{$medium-up} {
			// add a buffer incase the rotation is not perfect
			bottom: ($homepage-triangle-size + .1rem) * -1;
			margin-left: $homepage-triangle-size *-1;
			width: $homepage-triangle-size * 2;
			height: $homepage-triangle-size * 2;
		}
	}
}

#home-design, #home-photography {
	header {
		margin-bottom: 3rem;
	}
}

#home-banner {
	h1 {
		margin-bottom: 3rem;
	}

	// color the triangle to match the design bg
	&::after {
		background-color: $home-design-bg-color;
	}
}

#home-design {

	// this bg is an svg so change the url
	background-image: url(../assets/img/home-design-bg.svg);
	// this background needs to stretch so it goes from corner to corner
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;

	p {
		padding: 0 2rem;
		margin-top: 3rem;
		color: #687D90;
	}

	.button {
		@include button-style(#687D90);
	}

	.wp-post-image {
		max-width:
	}

	// once we start our horizontal layout, make the image much bigger
	@media #{$medium-up} {

		.wp-post-image {
			max-width: 170%;
			float: right;
		}

		p {
			padding: 0 1rem;
		}
	}

	@media #{$large-up} {
		.wp-post-image {
			max-width: 140%;
		}
	}

}

#home-design-content {

	@media #{$medium-up} {
		display: flex;
		align-items: center;
	}

}

#home-photography {
	// move the triangle to the top
	&::after {
		bottom: auto;
		// add a buffer incase the rotation is not perfect
		top: ($homepage-triangle-size/2 + .1rem) * -1;
		@media #{$medium-up} {
			// add a buffer incase the rotation is not perfect
			top: ($homepage-triangle-size + .1rem) * -1;
		}
	}

	// the thin white text is hard to read so make it bold
	p {
		font-weight: $font-weight-bold;
	}

	.button {
		@include button-style($white);
	}
}