.home {

  #top-banner {
    .home-link {
      display: none;
    }
    .me-description,
    .about-link {
      display: block;
    }
  }

  main {
    background-color: $primary-color;
  }

}



.categories {
  text-transform: uppercase;
  list-style: none;
  margin: $global-padding 0 0;
  font-size: $small-font-size;

  > li {
    display: inline-block;

    &:not(:last-child) {
      margin-right: $global-padding;

      &::after {
        content: ", ";
      }
    }
  }
}


#home-page {

  // Children
  //display: flex;
  //flex-direction: column;
  //justify-content: flex-end;

  h1 {
    margin-top: $global-padding*2;
    margin-bottom: $global-padding;
    text-align: right;
    //background-color: $primary-color;
    color: $white;
  }


  @include breakpoint($horizontal-breakpoint) {
    min-height: 100vh;

    h1 {
      margin-top: $horn-images-size + $global-padding*4;
    }
  }
}

#recent-grid {
  margin: 0;

  > li {
    margin: 0;
    list-style: none;
    overflow: hidden;
    padding-bottom: $global-padding;

    transition: all .2s;
    -webkit-font-smoothing: antialiased;
    opacity: .8;
    &:hover,
    &:focus {
      opacity: 1;
      transform: translateZ(0) scale(1.05);
      transform-origin: center;
    }

    > a {
      height: 100%;
      display: block;
      background: $white;
      padding: $global-padding;
      color: $steel;
    }

    h2, .subheader {
      color: inherit;
    }

    h2 {
      line-height: 1em;
    }
  }

  @include breakpoint(medium) {
    display: flex;
    flex-wrap: wrap;
    //justify-content: space-around;
    align-items: stretch;

    > li {
      flex: 1 1 300px;
      max-width: 50%;
      padding: $global-padding/2;

      .text {
        min-height: rem-calc(180);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }

      h2 {
        width: 100%;
      }

      a {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .categories {
        margin-top: $global-padding*2;
      }
    }
  }

  @include breakpoint(large) {
    > li {
      padding: $global-padding;

      a {
        padding: $global-padding*2;
      }

      .text {
        min-height: rem-calc(220);
      }
    }
  }

}

/*
#recent-grid {

  @include block-list-container();
  margin-bottom: 0;

  > li {
    @include block-list-item(
                $color: $white, // Color of items
                $color-hover: $white, // Color of items on hover
                $color-disabled: $white, // Color of items when disabled
                $background: transparent, // Background color
                $background-hover: rgba($white, .1), // Background color on hover
                $border: 1px solid rgba($white, .2), // Top and bottom border of items
                $padding: $global-padding*2 $global-padding );

    &:nth-child(odd) {
      //background-color: rgba($white, .2);
    }

    > a {
      display: flex;
      flex-direction: column;

      position: relative;
      overflow: hidden;
      .background {
        position: absolute;
        z-index: 1;
        width: 100%;
        left: 0;
        top: -90%;
        opacity: 0;
        transition: all .25s ease-in;
      }

      &:hover,
      &:focus {

        .background {
          top: -100%;
          opacity: .3;
        }

      }
    }
  }

  h2 {
    margin-top: 0;
    color: $white;
  }

  .subheader {
    color: rgba($white, .5);
  }

  .text,
  .details {
    position: relative;
    z-index: 2;
  }

  .text {
    flex: 1 1 auto;
  }

  .details {
    li {
      font-size: $small-font-size;
      text-transform: uppercase;

      display: inline-block;
      margin: $global-padding $global-padding 0 0;
    }
  }

  @include breakpoint(large) {
    > li > a {
      flex-direction: row;
    }

    .details {
      flex: 0 0 20%;
      padding-left: $global-padding;

      li {
        display: block;
        margin-top: $global-padding/2;
      }
    }
  }
}
*/

@keyframes recent-background-anim() {
  0% {
    top: -90%;
    opacity: 0;
  }
  100% {
    top: -100%;
    opacity: .3;
  }
}