$rmb-primary: #467c84;

#rmb-page {
	.header_video_image {
		position: relative;

		.the_video {
			position: absolute;
			left: 0;
			bottom: 0;
		}
	}
}

#rmb-screenshot {
  &, .screenshot {
    // allow image's dropshadow to extend bounds
    overflow: visible;
  }

  img {
    border-radius: 5px;
    box-shadow:
      0 4px 4px rgba(0, 0, 0, .1),
      0 8px 8px rgba(0, 0, 0, .1),
      0 8px 54px 9px rgba(0, 0, 0, .1);;
  }
}

#rmb-iphone-aside {
  padding: 0;
  margin-bottom: 0;

  .image img {
    max-height: 20rem;
    width: 100%;
    object-fit: cover;
  }

	aside {
		background-color: $rmb-primary;
		padding: 2rem;
		text-align: center;

		h4 {
			margin-top: 1rem;
			color: $white-smoke !important;
			margin-bottom: 2rem;
		}

		.button {
			font-weight: $font-weight-bold;
		}
	}

	@include breakpoint(large) {
  	display: flex;

  	> * {
    	flex-basis: 50%;
  	}

  	.image img {
    	max-height: none;
    	width: auto;
  	}

  	aside {
    	display: flex;
    	flex-direction: column;
    	justify-content: center;
  	}
	}

}
