#rmb-page {
	.header_video_image {
		position: relative;

		.the_video {
			position: absolute;
			left: 0;
			bottom: 0;
		}
	}

	.screenshot {
  	img {
    	max-width: 90%;
  	}
	}

	aside .link_out {
		background-color: #4d4d4d;
		padding: 2rem;

		margin-top: 4rem;

		@include breakpoint($horizontal-breakpoint) {
			margin-top: 0;
		}

		h4 {
			margin-top: 1rem;
			color: $white !important;
			margin-bottom: 2rem;
		}

		.button {
			@include button-style($background:#008085, $background-hover:auto, $color: $white);
			font-weight: $font-weight-bold;
		}
	}

}