#rmb-page {
	.header_video_image {
		position: relative;

		.the_video {
			position: absolute;
			left: 0;
			bottom: 0;
		}
	}

	.screenshot {
  	img {
    	max-width: 90%;
  	}
	}

	aside .link_out {
		background-color: $silver;
		padding: 2rem;
		margin-top: 4rem;

		h4 {
			margin-top: 1rem;
			//color: $white-smoke !important;
			margin-bottom: 2rem;
		}

		.button {
			font-weight: $font-weight-bold;
		}
	}

}