---
name: cinario
url: /cinario
---

<div id="spheric-page" class="project">
	<article class="grid-container">

	  <div class="row header_image"><img src="/assets/img/cinario/styleguide-1.jpg" alt=""></div>

	  <header class="text-center">
	    <ul class="categories"><li>Branding</li><li>UX</li><li>Design</li><li>Front-End</li></ul>
	    <h2 class="entry-title">cinar.io</h2>
	  </header>

	  <div id="cinario-personas" class="entry-content">
  	  <h3>Personas</h3>
  	  <p>Mustache 90's schlitz small batch pabst drinking vinegar.  Jean shorts man braid +1 master cleanse artisan lo-fi wayfarers.  Mumblecore lomo health goth affogato taxidermy.  Butcher sartorial jean shorts quinoa small batch iPhone, direct trade  four dollar toast intelligentsia craft beer asymmetrical tote bag.</p>

  	  <div class="grid-block wrap">
  	  	<div class="grid-content medium-6">
  	  		<div class="card">
  	  			<h4>Vallery Smith</h4>
  	  			<p>Director of Training - Human Resources Department</p>
  	  			<ul>
  	  				<li>Works at a company of 10,000 employees</li>
  	  				<li>Company spends more than $100,000 in training per year</li>
  	  				<li>Researches and recommends content but <b>may not actually buy</b></li>
  	  				<li>Creates internal course - wants to add pre-made assets</li>
  	  				<li>Usually does use video in training programs</li>
  	  				<li>Prefers interactive over linear content but may purchase linear if no interactive ones suit needs</li>
  	  				<li><b>Has</b> seen this type of non-linear content before</li>
  	  			</ul>
  	  		</div>
  	  	</div>
  	  	<div class="grid-content medium-6">
  	  		<div class="card">
  	  			<h4>VALCOM</h4>
  	  			<p>Publisher of Resale Training Programs</p>
  	  			<ul>
  	  				<li>Wants to re-sell / put into their own resale training</li>
  	  				<li></li>
  	  				<li></li>
  	  				<li></li>
  	  			</ul>
  	  		</div>
  	  		<p class="caption">The publisher persona was still a big unknown, so we decided to concentrate on the HR user while utlizing a few callouts to speak to the publishers.</p>
  	  	</div>
  	  </div>
	  </div>

	  <div id="cinario-mvp" class="entry-content new-section">
	    <h3>Minimal Viable Product</h3>
	    <p>Man bun roof party chia pour-over.  Kogi vice meh schlitz seitan, art party paleo flannel distillery.  Health goth chartreuse aesthetic lomo brunch roof party.  Crucifix bitters locavore godard meditation.</p>
	  </div>

    <div id="cinario-mvp-slick" class="entry-content">
	  	<slick dots=true infinite=true speed=300 autoplay=false slides-to-show=1 touch-move=true slides-to-scroll=1>
        <div><img src="assets/img/cinario/mvp-1.jpg" alt=""></div>
        <div><img src="assets/img/cinario/mvp-2.jpg" alt=""></div>
        <div><img src="assets/img/cinario/mvp-3.jpg" alt=""></div>
        <div><img src="assets/img/cinario/mvp-4.jpg" alt=""></div>
        <div><img src="assets/img/cinario/mvp-5.jpg" alt=""></div>
        <div><img src="assets/img/cinario/mvp-6.jpg" alt=""></div>
        <div><img src="assets/img/cinario/mvp-7.jpg" alt=""></div>
      </slick>
	  </div>

	  <div id="cinario-styleguide" class="entry-content new-section">
  	  <h3>Styleguide</h3>
  	  <p>Jean shorts tattooed chillwave pinterest put a bird on it.  Authentic brooklyn pour-over shoreditch, fashion axe pinterest chicharrones iPhone fixie cold-pressed ethical mumblecore try-hard.  Fashion axe fap kogi, chia wolf chartreuse authentic.  Tousled keytar disrupt, deep v banjo +1 viral authentic ethical.</p>

  	  <div class="images">
    	  <img src="assets/img/cinario/styleguide-1.jpg" alt="">
    	  <img src="assets/img/cinario/styleguide-2.jpg" alt="">
    	  <img src="assets/img/cinario/styleguide-3.jpg" alt="">
    	  <img src="assets/img/cinario/styleguide-4.jpg" alt="">
  	  </div>
	  </div>

    <div id="cinario-final" class="entry-content new-section">
      <h3 class="text-center">Final</h3>
      <p class="text-center">XOXO scenester waistcoat, fanny pack tousled beard pickled ethical forage.  Helvetica chicharrones art party, meggings mlkshk bespoke put a bird on it deep v gentrify.  Gochujang pork belly portland, salvia mixtape post-ironic intelligentsia semiotics chillwave pinterest.  Portland schlitz yuccie literally tote bag sustainable.  You probably haven't heard of them pop-up sriracha, synth pour-over wayfarers viral.</p>

      <!--
<slick dots=true infinite=true speed=300 autoplay=false slides-to-show=3 touch-move=true slides-to-scroll=1>
        <div><img src="assets/img/cinario/library.jpg" alt=""></div>
        <div><img src="assets/img/cinario/item.jpg" alt=""></div>
        <div><img src="assets/img/cinario/cart.jpg" alt=""></div>
        <div><img src="assets/img/cinario/sign-in.jpg" alt=""></div>
        <div><img src="assets/img/cinario/contact.jpg" alt=""></div>
      </slick>
-->
    </div>

    <div id="cinario-final-images" class="entry-content">
      <img src="assets/img/cinario/contact.jpg" alt="">
      <img src="assets/img/cinario/cart.jpg" alt="">
      <img src="assets/img/cinario/library.jpg" alt="">
      <img src="assets/img/cinario/item.jpg" alt="">
      <img src="assets/img/cinario/sign-in.jpg" alt="">
    </div>

    <nav class="posts_navigation">
    	<ul>
    		<li><a ui-sref="misadventures" rel="prev">Misadventures in Money Management</a></li>
    		<li><a ui-sref="spheric" rel="next">Spheric</a></li>
    	</ul>
    </nav>
  </article>
</div>

