---
name: res-tools
url: /res-tools
animationIn: slideInUp
---

<div id="spheric-page" class="project">
	<article class="grid-container">

  	<div class="row header_image"><img src="./assets/img/res-tools/Mockup.jpg" alt="Mockup of the Resilience Tools final product"></div>

	  <header class="text-center">
	    <ul class="categories"><li>UX</li><li>Design</li><li>Front-End</li></ul>
	    <h2 class="entry-title">Resilience Tools</h2>
	    <p class="lead">Mixtape cliche hoodie heirloom PBR&B bitters fixie actually meh pour-over VHS readymade flexitarian banjo cred letterpress YOLO irony paleo mlkshk next level asymmetrical fashion axe aesthetic 8-bit beard ugh craft beer 3 wolf moon retro.</p>
	  </header>

	  <hr>

	  <div id="res-tools-wireframes" class="entry-content new-section">
	    <div class="content">
	      <h3>Annotated Wireframes</h3>
	      <p>We knew that the process of creating this website was going to be a process. We didn't have prior knowledge of the particular market or how it would react to this type of offering. Therefore, we knew needed to get something online to be able to start testing with real users and get real feedback.</p>
	    </div>

      <div class="content">
        <img src="./assets/img/res-tools/Wireframes.jpg" alt="Askew screenshot of annotated wireframes">
      </div>
	  </div>


	  <div id="res-tools-styleguide" class="entry-content new-section">
  	  <h3>Style Guide</h3>
  	  <p>I created the style guide to make sure we were approaching the design in a way that aligned with our potential users mindset. It gives the right logo, colors, fonts. and images to use, but <strong>why</strong>. </p>

  	  <img src="./assets/img/res-tools/Styleguide.jpg" alt="Styleguide for the Resilience Tools final product">
	  </div>

    <div id="res-tools-final" class="entry-content new-section">
      <h3 class="text-center">Final</h3>
      <p class="text-center">In addition to user experience responsibilities, I was also the primary designer and front-end developer.</p>
      <img src="./assets/img/res-tools/Final.jpg" alt="Screenshot of the final Resilience Tools web application">
    </div>

    <nav class="posts_navigation">
    	<ul>
    		<li><a ui-sref="spheric" rel="prev">Spheric</a></li>
    	</ul>
    </nav>
  </article>
</div>

