---
name: reinventing-michael-banks
url: /reinventing-michael-banks
animationIn: slideInUp
---

<div id="rmb-page" class="project">
	<article class="grid-container">
	  <div class="row header_video">
  	  <video class="" width="1200"
  			src="./assets/img/rmb/RMB.mp4"
  			poster="./assets/img/rmb/poster.jpg" controls=""></video>
    </div>

	  <header class="text-center">
	    <ul class="categories"><li>Branding</li><li>Design</li><li>Front-End</li></ul>
	    <h2 class="entry-title">Reinventing Michael Banks</h2>
	  	<p class="text-center lead">This interactive video was created by WILL as a philanthropic effort to aid Veterans and employers during the Veteran’s transition back to civilian employment. A large part of the project was to create a site that would not only host the program for free but also interest companies to take the initiative and offer this course to their own employees. This is a product I’m especially proud of not only for my own efforts in the creation of it but also because I believe strongly in it’s effectiveness.</p>
	  </header>

  	<div id="rmb-screenshot" class="grid-block vertical medium-horizontal">
  	  <div class="screenshot grid-content small-12 large-8 large-offset-2"><img src="./assets/img/rmb/site-screenshot.jpg" alt="Reinventing_screenshot"></div>
  	</div>

	  <div id="rmb-iphone-aside" class="entry-content new-section">
  	  <div class="image">
    	  <img src="./assets/img/rmb/iPhone.jpg" alt="">
  	  </div>
  	  <aside>
    	  <h4>Both the site and and the <i>Reinventing Michael Banks</i> interactive video are live and available at</h4>

        <p class="text-center"><a class="button" href="http://reinventingmichaelbanks.com">reinventingmichaelbanks.com</a></p>
  	  </aside>
	  </div>

    <nav class="posts_navigation">
    	<ul>
    		<li><a ui-sref="will" rel="prev">WILL Styles</a></li>
    		<li><a ui-sref="misadventures" rel="next">Misadventures in Money Management</a></li>
    	</ul>
    </nav>
  </article>
</div>

