---
name: spheric
url: /spheric
animationIn: slideInUp
---

<div id="spheric-page" class="project">
	<article class=" grid-container">
  	<div class="row header_image"><img src="./assets/img/spheric/banner.jpg" alt=""></div>

	  <header class="text-center">
	    <ul class="categories"><li>Design</li><li>Front-End</li></ul>
	    <h2 class="entry-title">Spheric</h2>
	    <p class="lead">Spheric is a social platform created for collegiate level eSport players. The client came to me with a logo, color scheme, and basic wireframes. My job was to create a living style guide and build the static web pages.</p>
	  </header>

	  <div id="sphric-code" class="entry-content first-section">
	  	<h3>Mockups to Reality</h3>
	    <p class="ideal">The client previously hired a UX team to conduct user research, create user stories, and create wireframes. These wireframes were then passed to me to use as a guide for the user flows and layout. Most of the time I agreed with the ideas within the wireframes, but there were times where I needed to alter the design based on my own UX knowledge.</p>
	  </div>

	  <div id="spheric-mockups" class="entry-content">
	  	<slick class="reverse" dots=true infinite=true speed=300 autoplay=false slides-to-show=1 touch-move=true slides-to-scroll=1>
        <div><img src="assets/img/spheric/mockup-1.jpg" alt=""><img src="assets/img/spheric/iPad-1.png" alt=""></div>
        <div><img src="assets/img/spheric/mockup-2.jpg" alt=""><img src="assets/img/spheric/iPad-2.png" alt=""></div>
        <div><img src="assets/img/spheric/mockup-3.jpg" alt=""><img src="assets/img/spheric/iPad-3.png" alt=""></div>
        <div><img src="assets/img/spheric/mockup-4.jpg" alt=""><img src="assets/img/spheric/iPad-4.png" alt=""></div>
      </slick>
	  </div>

	  <div id="spheric-code" class="entry-content new-section">
	  	<div class="content">
	  	  <h3>Atomic Design</h3>
	  	  <p class="ideal">I am a big proponent of <a href="http://bradfrost.com/blog/post/atomic-web-design/">Atomic Design, originally advocated by Brad Frost</a>. Atomic Design is the idea of organizing front-end materials (design systems) starting with the fundamentals and building upon those to become more complex.</p>
	  	  <p>In his explanation he utilizes the following terminology: <b><i>Atoms > Molecules > Organisms > Templates > Pages</i></b>. However, I don't think the biology terms necessarily translate well for everyone. The terminology I've standardized in my own work is: <b><i>Core > Elements > Fixtures > Templates > Pages</i></b>.</p>
	  	</div>
	  	<div class="image">
	  	  <img src="assets/img/spheric/code.png" alt="">
	  	</div>
	  </div>

	  <div id="spheric-responsive-intro" class="entry-content new-section">
      <h3>Responsive</h3>
      <p>One of the challenges &ndash; and delights &ndash; was deciding how to make the entire application feel more native on mobile devices. Utilizing Angular's custom routing and HTML fragmenting features, I moved any secondary navigation &ndash; like the sidebar &ndash; into it's own view on mobile devices to mimic navigation systems like those of messaging apps. </p>
	  </div>

    <div id="spheric-responsive" class="entry-content">
      <div class="images">
        <img src="assets/img/spheric/messages.png" alt="">
        <img src="assets/img/spheric/messages_anim.gif" alt="">
      </div>
    </div>

    <nav class="posts_navigation">
    	<ul>
    		<li><a ui-sref="cinario" rel="prev">cinar.io</a></li>
    	</ul>
    </nav>
  </article>
</div>
