---
name: spheric
url: /spheric
---

<div id="spheric-page" class="project">
	<article class=" grid-container">

	  <header class="text-center">
	    <h2 class="entry-title">Spheric</h2>
	    <h5 class="post-tags"><span>Branding</span><span>Designer</span><span>Front-End Developer</span><span>UI&amp;UX</span></h5>
	  </header>

	  <div class="entry-content">
	    <p>Man bun roof party chia pour-over.  Kogi vice meh schlitz seitan, art party paleo flannel distillery.  Health goth chartreuse aesthetic lomo brunch roof party.  Crucifix bitters locavore godard meditation.</p>

	  	<slick dots=true infinite=true speed=300 slides-to-show=1 touch-move=true slides-to-scroll=1>
        <div><img src="https://source.unsplash.com/featured/random" alt=""></div>
        <div><img src="https://source.unsplash.com/featured/random" alt=""></div>
        <div><img src="https://source.unsplash.com/featured/random" alt=""></div>
      </slick>
	  </div>
  </article>

  <aside>
    <div class="link_out text-center">
      <h4>Both the site and and the <i>Reinventing Michael Banks</i> interactive video are live and available at</h4>

      <p class="text-center"><a class="button" href="http://reinventingmichaelbanks.com">reinventingmichaelbanks.com</a></p>
    </div>
  </aside>
</div>

