---
name: spheric
url: /spheric
---

<div id="spheric-page" class="project">
	<article class=" grid-container">
  	<div class="row header_image"><img src="./assets/img/spheric/banner.jpg" alt=""></div>

	  <header class="text-center">
	    <ul class="categories"><li>Design</li><li>Front-End</li></ul>
	    <h2 class="entry-title">Spheric</h2>
	    <p class="lead">Man bun roof party chia pour-over.  Kogi vice meh schlitz seitan, art party paleo flannel distillery.  Health goth chartreuse aesthetic lomo brunch roof party.  Crucifix bitters locavore godard meditation.</p>
	  </header>

	  <div id="sphric-code" class="entry-content first-section">
	  	<h3>Mockups to Reality</h3>
	    <p class="ideal">Man bun roof party chia pour-over.  Kogi vice meh schlitz seitan, art party paleo flannel distillery.  Health goth chartreuse aesthetic lomo brunch roof party.  Crucifix bitters locavore godard meditation.</p>
	  </div>

	  <div id="spheric-mockups" class="entry-content">
	  	<slick class="reverse" dots=true infinite=true speed=300 autoplay=false slides-to-show=1 touch-move=true slides-to-scroll=1>
        <div><img src="assets/img/spheric/mockup-1.jpg" alt=""><img src="assets/img/spheric/iPad-1.png" alt=""></div>
        <div><img src="assets/img/spheric/mockup-2.jpg" alt=""><img src="assets/img/spheric/iPad-2.png" alt=""></div>
        <div><img src="assets/img/spheric/mockup-3.jpg" alt=""><img src="assets/img/spheric/iPad-3.png" alt=""></div>
        <div><img src="assets/img/spheric/mockup-4.jpg" alt=""><img src="assets/img/spheric/iPad-4.png" alt=""></div>
      </slick>
	  </div>

	  <div id="spheric-code" class="entry-content new-section">
	  	<div class="content">
	  	  <h3>Atomic Design</h3>
	  	  <p class="ideal">Jean shorts tattooed chillwave pinterest put a bird on it.  Authentic brooklyn pour-over shoreditch, fashion axe pinterest chicharrones iPhone fixie cold-pressed ethical mumblecore try-hard.  Fashion axe fap kogi, chia wolf chartreuse authentic.  Tousled keytar disrupt, deep v banjo +1 viral authentic ethical.</p>
	  	</div>
	  	<div class="image">
	  	  <img src="assets/img/spheric/code.png" alt="">
	  	</div>
	  </div>

    <div id="spheric-responsive" class="entry-content new-section">
      <h3 class="text-center">Responsiveness</h3>
      <p class="text-center">XOXO scenester waistcoat, fanny pack tousled beard pickled ethical forage.  Helvetica chicharrones art party, meggings mlkshk bespoke put a bird on it deep v gentrify.  Gochujang pork belly portland, salvia mixtape post-ironic intelligentsia semiotics chillwave pinterest.  Portland schlitz yuccie literally tote bag sustainable.  You probably haven't heard of them pop-up sriracha, synth pour-over wayfarers viral.</p>

      <div class="images">
        <img src="assets/img/spheric/messages.png" alt="">
        <img src="assets/img/spheric/messages_anim.gif" alt="">
      </div>
    </div>

    <nav class="posts_navigation">
    	<ul>
    		<li><a ui-sref="cinario" rel="prev">cinar.io</a></li>
    	</ul>
    </nav>
  </article>
</div>
