---
name: weddings
url: /weddings
animationIn: slideInUp
---

<div id="weddings-page" class="project">
	<article class="grid-container">
	  <div class="row header_image"><img src="assets/img/weddings/Johnson_header.jpg" alt=""></div>

	  <header class="text-center">
	    <ul class="categories"><li>Design</li><li>Front-End</li></ul>
	    <h2 class="entry-title">Weddings</h2>
	    <p class="lead text-center">I love creating wedding websites because they usually allow me to really bring out my sense of style and match it to the couple and their wedding.</p>
	  </header>

	  <div id="weddings-lopez" class="entry-content">
  	  <div class="image">
    	  <img src="assets/img/weddings/Lopez_screenshot.png" alt="">
  	  </div>
  	  <div class="text">
  	    <p>Christen and Orlando got married in October near the eastern short of Maryland. I wanted to bring out the essence of the location and season while also showcasing their personalities. The top banner part of the website ended up being the design on the front of their save-the-date postcard.</p>

  	    <blockquote>“IT LOOKS AMAZING, Caroline! Thank you so, so much!!! Truly!”<cite>Christen</cite><p></p></blockquote>
  	  </div>
  	  <div class="full-image">
    	  <img src="assets/img/weddings/Lopez_iPhones.jpg" alt="">
  	  </div>
	  </div>

	  <div id="weddings-johnson" class="entry-content">
  	  <div class="image">
    	  <img src="assets/img/weddings/Johnson_screenshot.png" alt="">
  	  </div>
  	  <div class="text">
  	    <p>Marianna and Cliff started out simply wanting a way to add custom PayPal donation buttons for their registry. Instead of adding a complicated link to one of those do-it-yourself wedding websites, I decided to give them a custom, yet simple site tailored to their needs.</p>

  	    <blockquote>“It looks ridiculously awesome!!!!!!!!!!!!!!!!!!!!!!”<cite>Marianna</cite><p></p></blockquote>
  	  </div>
  	  <div class="full-image">
    	  <img src="assets/img/weddings/JohnsonWedding_iPhones.jpg" alt="">
  	  </div>
	  </div>

	  <div id="weddings-stanley" class="entry-content">
  	  <div class="text">
    	  <h3>My Favorite Wedding</h3>
  	    <p>This was my most challenging project. They say you’re your own worst critic. That definitely holds true for me. I really wanted to create something that represented Darren and I as a couple.</p>
  	  </div>
  	  <div class="image">
    	  <img src="assets/img/weddings/Stanley_screenshot_1.png" alt="">
  	  </div>
  	  <div class="full-image">
    	  <img src="assets/img/weddings/Stanley_mobile.jpg" alt="">
  	  </div>
  	  <div class="full-image">
    	  <img src="assets/img/weddings/Stanley_grid.jpg" alt="">
  	  </div>
	  </div>

	  <div id="weddings-stanley-2" class="entry-content">
<!--
  	  <div class="text">
    	  <p>One of the challenges was to create a registry where guests could donate money to certain “funds”. PayPal made this very easy with custom links and secure payment. Even though the buttons aren’t particularly pleasing to look at, using PayPal’s logo signifies some trust how the guest would be sending money.</p>
  	  </div>
  	  <div class="image">
    	  <img src="assets/img/weddings/Stanley_screenshot_2.png" alt="">
  	  </div>
-->
  	  <aside class="thanks">Thanks so much to <a href="http://www.samhurdphotography.com/">Sam Hurd</a> for the beautiful photographs of the evening, including the shots he took of the printed materials.</aside>
  	  <div class="full-image">
    	  <img src="assets/img/weddings/Stanley_last.jpg" alt="">
  	  </div>
	  </div>

    <nav class="posts_navigation">
    	<ul>
    		<li><a ui-sref="will" rel="next">WILL Styles</a></li>
    	</ul>
    </nav>
  </article>
</div>

