---
name: will
url: /will
animationIn: slideInUp
---

<div id="will-page" class="project">
	<article class="grid-container">

  	<div class="row header_image"><img src="./assets/img/will/branding-mockups.jpg" alt="WILL branded business cards and letterhead"></div>

	  <header class="text-center">
	    <ul class="categories"><li>Branding</li><li>Design</li><li>Front-End</li></ul>
	    <h2 class="entry-title">WILL Styles</h2>
  	  <p class="lead">I started working at WILL in 2007, straight out of college. I was immediately tasked with creating a new logo for the company. Then in 2015, we once again decided to update the branding so it more cohesively exuded who WILL is. Just before leaving will in early 2016, we finalized the logo below. The interesting part of seeing both logos side-by-side is that it not only shows the progression of how WILL has changed over the years, but how I as a designer have progressed in my skills and career.</p>
	  </header>

	  <div id="will-logos-images" class="entry-content">
  	  <div class="image">
        <img src="./assets/img/will/Apps_logo_old.png" alt="Apps_logo_old">
        <p class="text-center">Before</p>
      </div>
      <div class="image">
        <img src="./assets/img/will/Apps_logo_new.png" alt="Apps_logo_new">
        <p class="text-center">After</p>
      </div>
	  </div>

	  <div id="will-styleguide" class="entry-content new-section">
  	  <h3>Style guide</h3>
  	  <p>As a development team, we have kept a living style guide to help us in the development of all custom internal business development applications. It has evolved alongside of the branding.</p>

	  </div>
	  <div id="will-styleguide-images" class="entry-content">
      <img src="./assets/img/will/styleguide-basics.jpg" alt="">
      <img src="./assets/img/will/styleguide-code.jpg" alt="">
	  </div>

	  <div id="will-code" class="entry-content new-section">
	  	<div class="text">
	  	  <h3>Gem</h3>
	  	  <p>To help with future iterations and implementation of the style guide, we built it as a gem that could be used by all of our Ruby on Rails applications. This way, we were tweak the styles in one place and they would update across all applications. It also helped with version control.</p>
	  	</div>
	  	<div class="image">
  	    <img src="./assets/img/will/code.png" alt="">
	  	</div>
	  </div>

    <div id="will-apps" class="entry-content new-section">
      <h3 class="text-center">WILL Apps</h3>
      <p class="text-center">The WILL Apps suite is a compilation of custom applications that help the whole company in day-to-day operations. They give all employees access to a customized issue tracker, client review and user testing platform, and public or private program access control. </p>
    </div>

    <div id="will-apps-images" class="entry-content">
      <div><img src="./assets/img/will/launchpad2.jpg" alt=""></div>
      <div><img src="./assets/img/will/testbed2.jpg" alt=""></div>
      <div><img src="./assets/img/will/tracker2.jpg" alt=""></div>
      <div><img src="./assets/img/will/access2.jpg" alt=""></div>
    </div>

    <nav class="posts_navigation">
    	<ul>
    		<li><a ui-sref="weddings" rel="prev">Weddings</a></li>
    		<li><a ui-sref="reinventing-michael-banks" rel="next">Reinventing Michael Banks</a></li>
    	</ul>
    </nav>
  </article>
</div>
