<div id="top-banner">
  <header class="inner">
  	<div id="horn_images">
    	<img src="./assets/img/trumpet.svg" alt="trumpet" />
    	<img src="./assets/img/antler.svg" alt="antler" />
    	<img src="./assets/img/hand.svg" alt="hand giving Rock n' roll symbol" />
  	</div>

  	<h1>Caroline L. Horn</h1>

  	<p class="me-description">I am a multidisciplinary designer and developer with over nine years experience. I am passionate about design, both aesthetically and functionally. I create digital experiences that are based on the needs of its users and are tailored to the goals of the client.</p>
    <p class="about-link"><a ui-sref="about"><span class="text">More about me</span></a></p>
    <p class="home-link"><a ui-sref="home"><span class="text">Portfolio</span></a></p>
  </header>
</div>
