---
name: about
url: /about
animationIn: slideInUp
---

<section id="about-page" class="">
	<div>
    <div class="inner first">
      <p class="text-center">
        <img src="assets/img/Process_dark.svg" alt="4 step process diagrammed">
      </p>
    </div>

    <div class="inner">
      <p><b>I love to problem solve</b>; whether it's finding intuitive yet innovative solutions to usability difficulties; or developing ways to implement those solutions in the somewhat limiting world of front-end technologies and accessibility. And, while my process can be chaotic, I am an organizer through and through. Just ask my sock drawer.</p>
      <p>I surround myself with design. My office walls are covered in posters, vinyl album covers and antique cameras. I love to travel, hunt for rare brews, and photographing my journeys.</p>
    </div>


<!--
    <div class="inner">
      <h4>MY PROCESS</h4>
      <p>As Senior UX Engineer, I am constantly practicing the fundamentals of graphic, interface and interaction design, user experience, and usability. Perpetual communication and collaboration are a large part of my daily life not just within my team but with clients as well.</p>
      <p>I always start by <strong>identifying</strong> the client’s goals and the users’ needs. Finding where they intersect, I <strong>strategize</strong> to find creative and intuitive solutions. I consider user stories and possible user flows; always referencing back to the first step to make sure my concepts align. I start the <strong>creation</strong> process with wireframes and work up to high-fidelity mockups. I make sure the information is organized effectively and the interface design is compelling. I <strong>implement</strong> the design utilizing progressive enhancement when using the newest technology. I make sure it’s mobile-<em>friendly</em> not just responsive. I also consider accessibility and backwards compatibility.</p>
    </div>
-->
    <div class="inner">
      <h4 class="cheers">Cheers, <img src="assets/img/me.jpg" alt="Photo of me" width="100" class="thumb round"></h4>
    </div>

    <hr>

    <div class="inner text-center">
      <h3>Want to get in touch?</h3>
      <a class="button" href="mailto:caroline@curiouschaos.com?subject=Contact from CuriousChaos.com">Email Me</a>
      <a class="button" href="http://www.linkedin.com/in/curiouschaos">Connect on LinkedIn</a>
    </div>

  </div>
</section>
