---
name: home
url: /
---

<div class="inner hide-for-large">
	<p>I am a multidisciplinary designer and developer with over eight years experience. I am passionate about design, both aesthetically and functionally. I create digital experiences that are based on the needs of its users and are tailored to the goals of the client.</p>
  <p><a ui-sref="about">More about me</a></p>
</div>

<ul id="recent_grid">
	<li>
		<a ui-sref="will-applications">
		  WILL Applications
			<span class="details">
				<ul class="categories">
  				<li>Design</li><li>Website</li>
				</ul>
			</span>
		</a>
	</li>

	<li>
		<a ui-sref="misadventures">
		  Misadventures in Money Management
			<span class="details">
				<ul class="categories">
  				<li>Design</li><li>Website</li>
				</ul>
			</span>
		</a>
	</li>

	<li>
		<a ui-sref="johnson-wedding">
		  Johnson Wedding
			<span class="details">
				<ul class="categories">
  				<li>Design</li><li>Website</li>
				</ul>
			</span>
		</a>
	</li>

	<li>
		<a ui-sref="the-road">
		  The Road to Organic Certification
			<span class="details">
				<ul class="categories">
  				<li>Design</li><li>Interactive Video</li>
				</ul>
			</span>
		</a>
	</li>

	<li>
		<a ui-sref="reinventing-michael-banks">
		  Reinventing Michael Banks
			<span class="details">
				<ul class="categories">
  				<li>Design</li><li>Interactive Video</li><li>Website</li>
				</ul>
			</span>
		</a>
	</li>

	<li>
		<a ui-sref="stanley-wedding">
		  Stanley Wedding
			<span class="details">
				<ul class="categories">
  				<li>Design</li><li>Print</li><li>Website</li>
				</ul>
			</span>
		</a>
	</li>
</ul>
