---
name: home
url: /
---

<div id="home-page">
	<h1>Recent Work</h1>

	<ul id="recent-grid">
		<li>
			<a ui-sref="will-applications">
			  <span class="text">
			    <h2>WILL Applications</h2>
			  	<p class="subheader">This is a subheader explanation of project.</p></span>
				<span class="details">
					<ul class="categories">
	  				<li>Design</li><li>Website</li></ul></span>
			</a>
		</li>

		<li>
			<a ui-sref="misadventures">
			  <span class="text">
			    <h2>Misadventures in Money Management</h2>
			    <p class="subheader">This is a subheader explanation of project.</p></span>
				<span class="details">
					<ul class="categories">
	  				<li>Design</li><li>Website</li>
					</ul>
				</span>
			</a>
		</li>

		<li>
			<a ui-sref="johnson-wedding">
			  <span class="text">
			    <h2>Johnson Wedding</h2>
			    <p class="subheader">This is a subheader explanation of project.</p></span>
				<span class="details">
					<ul class="categories">
	  				<li>Design</li><li>Website</li>
					</ul>
				</span>
			</a>
		</li>

		<li>
			<a ui-sref="the-road">
			  <span class="text">
			    <h2>The Road to Organic Certification</h2>
			    <p class="subheader">This is a subheader explanation of project.</p></span>
				<span class="details">
					<ul class="categories">
	  				<li>Design</li><li>Interactive Video</li>
					</ul>
				</span>
			</a>
		</li>

		<li>
			<a ui-sref="reinventing-michael-banks">
			  <span class="text">
			    <h2>Reinventing Michael Banks</h2>
	        <p class="subheader">This is a subheader explanation of project.</p></span>
				<span class="details">
					<ul class="categories">
	  				<li>Design</li><li>Interactive Video</li><li>Website</li>
					</ul>
				</span>
			</a>
		</li>

		<li>
			<a ui-sref="stanley-wedding">
			  <span class="text">
			    <h2>Stanley Wedding</h2>
	        <p class="subheader">This is a subheader explanation of project.</p></span>
				<span class="details">
					<ul class="categories">
	  				<li>Design</li><li>Print</li><li>Website</li>
					</ul>
				</span>
			</a>
		</li>
	</ul>
</div>