$horn-images-size: rem-calc(80);

#top-banner {

  flex: 0 0 100%;

  // Children
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .inner {
    padding: $global-padding*2 $global-padding $global-padding;
  }

  h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: $global-padding;
  }

  header p {
    width: 90%;
    max-width: 36rem;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    font-weight: $font-weight-bold;
  }

  .me-description,
  footer,
  .about-link {
    display: none;
  }

  @include breakpoint($horizontal-breakpoint) {
    flex-basis: 30%;
    min-width: rem-calc(300);
    max-width: rem-calc(500);
    //background-color: $smoke;
    //border-right: 1px solid $silver;

    h1 {
      margin-bottom: $global-padding*3;
    }

    header p {
      text-align: left;
      width: 70%;
    }

    .me-description,
    footer {
      display: block;
    }
  }

}

// position the images on top of each other
#horn_images {
	position: relative;

	// have to position all elements since we want them to be centered (without needing to use transform)
	// need to tell the container what size it is (based on image sizes)
	width: $horn-images-size;
	height: $horn-images-size;
	// then center it
	margin: $global-padding auto $global-padding*2;

	background-color: $primary-color;
	border-radius: $global-rounded;

	// make sure the container shrinks if the window gets too small
	max-width: 100%;

	img {
		position: absolute;
		top: 0px;
		left: 0px;

		// incase there's no javascript, hide all but the first
		.no-js &:not(:first-child){
			display: none;
		}
	}
}