$horn-images-size: rem-calc(80);

#top-banner {
  color: $white;

  @extend %main-padding;
  padding-top: $global-padding*2;
  padding-bottom: $global-padding;

  .inner {
    max-width: $paragraph-ideal;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    text-align: center;
    line-height: 1em;
    margin-top: 0;
    margin-bottom: $global-padding;
    color: $white;
  }

  p {
    font-weight: $font-weight-bold;
  }

  .me-description,
  .about-link {
    display: none;
  }

  p:not(.me-description) {
    text-align: right;
  }

  a {
    color: $white;
  }

  @include breakpoint($horizontal) {
    position: fixed;
    width: $sidebar-width;
    padding-bottom: $footer-height + 2rem;
    padding-right: 0;

    .inner {
      width: ($sidebar-width - 2rem);
    }

    h1 {
      margin-bottom: $global-padding*3;
    }

    .me-description {
      display: block;
    }
  }

  @include breakpoint(95rem) {
    width: 20%;
  }

}

// position the images on top of each other
#horn_images {
	position: relative;
	transition: width .2s, height .2s, margin .2s;

	// have to position all elements since we want them to be centered (without needing to use transform)
	// need to tell the container what size it is (based on image sizes)
	width: $horn-images-size;
	height: $horn-images-size;
	// then center it
	margin: 0 auto $global-padding*2;

	background-color: desaturate(lighten($primary-color, 2%), 5%);
	border-radius: $global-rounded;

	// make sure the container shrinks if the window gets too small
	max-width: 100%;

	img {
		position: absolute;
		top: 0px;
		left: 0px;

		&:not(:last-child){
			opacity: 0;
		}
  }

  @include breakpoint($horizontal) {
    margin-top: $global-padding*2;
  }
}

@include breakpoint($horizontal down) {
  body:not(.home):not(.about) {
    #top-banner {
      transition: height .2s;

      .inner {
        max-width: $container-width;
      }

      #horn_images,
      h1 {
        float: left;
      }

      #horn_images {
        width: $horn-images-size/2;
      	height: $horn-images-size/2;
      	margin: -8px 1rem 0 0;
      }

      .me-description {
        display: none;
      }

      p {
        a {
          display: block;
          position: relative;
          z-index: 5;
        }

        .text {
          display: none;
        }
      }
    }

  }
}