footer {

	background-color: $body-bg;
	padding-top: 4rem;
	padding-bottom: 1rem;

	// center everything
	text-align: center;

	p {
		color: $aluminum;
		font-size: .7rem;
		text-transform: uppercase;
	}

	.inline-list {
		// don't float the list items but put the inline so we can center them
		li {
			float: none;
			display: inline-block;
			margin: 0 .5rem;
		}
	}

}

// Add some whitespace above the footer for medium-up screens
@media #{$medium-up} {
	footer.row {
		padding-top: rem-calc(60);
	}
}
