$horizontal: xlarge;
$sidebar-width: rem-calc(260);
$sidebar-min-height: rem-calc(500);

// Prettify type rendering
body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;

  background: $primary-color url('../img/pattern3.png') right top repeat-y;
	  background-size: 100% auto;
	  background-position-y: rem-calc(340);

	@include breakpoint(large) {

	}

	@include breakpoint($horizontal) {
	  overflow: hidden;
    //background-size: calc(100% - (#{$sidebar-width + 2rem})) auto;
	}

	@include breakpoint(95rem) {
    //background-size: calc(80% - 2rem);
	}
}

%main-padding {
  padding: 0 $global-padding;
}

main {
  //background: $primary-color url('../img/pattern3.png') left top no-repeat;
	//background-size: 100% auto;

	> * {
    max-width: $container-width;
    margin-right: auto;
    margin-left: auto;
	}

	@include breakpoint(large) {
  	background: none;

  	> * {
    	padding: 1rem;
  	}
	}

	@include breakpoint($horizontal) {
  	background: none;
    padding-left: $sidebar-width;
    height: 100vh;
    overflow-y: auto;

    > * {
      padding: 1rem 1rem 1rem 2rem;
    }
	}

	@include breakpoint(95rem) {
    padding-left: 20%;
	}
}

// disable pointer events except for on links so scrolling can happen over top-banner
@include breakpoint($horizontal) {
  #top-banner,
  footer {
    pointer-events: none;

    a {
      pointer-events: all;
    }
  }
}

// Reset margin and padding on figure element
figure {
	margin: 0;
	padding: 0;
}

// Add some basic styling for figcaption element
figcaption {
	margin-bottom: rem-calc(20);
	margin-top: rem-calc(10);
	color: $monsoon;
}

blockquote {
	font-family: $font-family-serif;
	//font-style: $font-style-italic;
	cite {
		padding-left: 40%;
	}
}

// TYPOGRAPHY
// Specific font families for headers sizes
a {
	transition: color .15s,
	            background .15s;
}

h1, h2 {
	//font-family: $font-family-headline;
	//text-align: center;
	font-weight: 900;
}

h1 {
	text-transform: uppercase;
	color: currentColor;
}

h2 {
	//margin-bottom: 2.5rem;
}

h3 {
	text-transform: uppercase;
	color: $primary-color;
}

h4 {
	font-weight: $font-weight-bold;
}

h5.subheader {
	text-align: center;
	max-width: 48rem;
	margin: 0 auto 2.5rem;
}

$paragraph-ideal: 33rem;

p.ideal {
	max-width: $paragraph-ideal;

	&.text-center {
		margin-left: auto;
		margin-right: auto;
	}
}

video {
  max-width: 100%;
}

// LAYOUT
// Section paddings and such
$section-padding: 5rem;

@mixin make-section($padding: $section-padding) {
	padding-top: $padding/1.5;
	padding-bottom: $padding/1.5;

	@include breakpoint(medium) {
		padding-top: $padding;
		padding-bottom: $padding;
	}

	& > :last-child {
		margin-bottom: 0;
	}
}

section.layout {
	@include make-section();
}

// BUTTONS

.button.secondary {
	color: $steel;
}

.button {
  transition: all .2s ease-in;
}

.button:hover,
.button:focus,
.button:active {
  box-shadow:
    0 4px 4px rgba(0, 0, 0, .1),
    0 8px 8px rgba(0, 0, 0, .1),
    0 16px 16px rgba(0, 0, 0, .1);
}


// CUSTOM MIXINS
// ---------------------
// force the wrapping of long links/emails/etc.
@mixin force-wrap() {
	overflow-wrap: break-word;
	word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
}

@mixin force-truncate($width: 100%) {
  width: $width;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


// FOOTER
$footer-height: rem-calc(80);

footer {
  padding-top: $global-padding;
  height: $footer-height;

  ul.inline-list, p {
    text-align: center;
    margin-left: 0;
    margin-bottom: .5rem;
  }

  li, p {
    font-size: $small-font-size*.8;
  }

  ul {
    display: flex;
    justify-content: center;
  }

  .inline-list li {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: .05em;
  }

  a {
    padding: 1rem .5rem;

    &,
    &:hover,
    &:focus {
      color: $white;
    }
  }

  p {
    color: rgba($white, .5);
  }

  @include breakpoint($horizontal) {
    position: fixed;
    left: 0;
    bottom: 0;
    width: $sidebar-width;
  }

  @media screen and (max-height: $sidebar-min-height) {
    bottom: auto;
    top: $sidebar-min-height - $footer-height;
  }
}

.slideInUp,
.fadeIn {
  &.ng-enter-active,
  &.ng-leave-active {
    position: relative !important;
  }
}
