///
// VARIABLES
///

#top-banner {
	//background: url(../assets/img/home-photography-bg.jpg) no-repeat center center;
	//background-attachment: fixed;
	// background-size: cover;

	@include make-section(2rem);
	color: #666;

	// set the default color here and inherit it
	//color: #fff;

	.subheader {
		text-align: center;
		font-size: rem-calc(18);
		margin-top: 5rem;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	nav {
		text-transform: uppercase;
		text-align: center;

		li {
			float: none;
			display: inline-block;
		}

		a {
			font-size: $small-font-size;
			color: $steel;
			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}
	}
}

// position the images on top of each other
#horn_images {
	position: relative;

	// have to position all elements since we want them to be centered (without needing to use transform)
	// need to tell the container what size it is (based on image sizes)
	width: rem-calc(80);
	height: rem-calc(80);
	// then center it
	margin: 1rem auto 2rem;

	background-color: $primary-color;
	border-radius: $global-rounded;

	// make sure the container shrinks if the window gets too small
	max-width: 100%;

	img {
		position: absolute;
		top: 0px;
		left: 0px;

		// incase there's no javascript, hide all but the first
		.no-js &:not(:first-child){
			display: none;
		}
	}
}
