.top-bar {
	/*
#horn_images {
		margin: 0 1rem;
		display: inline-block;
		width: 64px;
		height: 46px;
		top: 1rem !important;
	}

	.divider {
		display: none;
	}
*/
}

.top-bar-section ul li  {
	background: transparent;

	&.active a {
		background: transparent !important;
		text-decoration: underline;
	}
}

.top-bar-container.fixed {
	position: absolute;
}

@media #{$small-only} {
	.top-bar {
		height: 2.5rem;

		&, .name, h1,
		.top-bar-section li:not(.has-form) a:not(.button) {
	    line-height: 2.5rem;
		}
		#horn_images {
			width: 32px;
			top: .5rem !important;
		}
	}
}